Protocolo4/Protocolo4/Connected Services/WSOperacion/WSOperaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="obtenerModulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerModuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerModuloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerLlavesPublica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerLlavesPublicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerLlavesPublicaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCertificado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCertificadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarCertificadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerModuloSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerModulo" />
  </wsdl:message>
  <wsdl:message name="obtenerModuloSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerModuloResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerLlavesPublicaSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerLlavesPublica" />
  </wsdl:message>
  <wsdl:message name="obtenerLlavesPublicaSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerLlavesPublicaResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarCertificadoSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarCertificado" />
  </wsdl:message>
  <wsdl:message name="VerificarCertificadoSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarCertificadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WSOperacionesSoap">
    <wsdl:operation name="obtenerModulo">
      <wsdl:input message="tns:obtenerModuloSoapIn" />
      <wsdl:output message="tns:obtenerModuloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerLlavesPublica">
      <wsdl:input message="tns:obtenerLlavesPublicaSoapIn" />
      <wsdl:output message="tns:obtenerLlavesPublicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCertificado">
      <wsdl:input message="tns:VerificarCertificadoSoapIn" />
      <wsdl:output message="tns:VerificarCertificadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSOperacionesSoap" type="tns:WSOperacionesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerModulo">
      <soap:operation soapAction="http://microsoft.com/webservices/obtenerModulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLlavesPublica">
      <soap:operation soapAction="http://microsoft.com/webservices/obtenerLlavesPublica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCertificado">
      <soap:operation soapAction="http://microsoft.com/webservices/VerificarCertificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSOperacionesSoap12" type="tns:WSOperacionesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerModulo">
      <soap12:operation soapAction="http://microsoft.com/webservices/obtenerModulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLlavesPublica">
      <soap12:operation soapAction="http://microsoft.com/webservices/obtenerLlavesPublica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCertificado">
      <soap12:operation soapAction="http://microsoft.com/webservices/VerificarCertificado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSOperaciones">
    <wsdl:port name="WSOperacionesSoap" binding="tns:WSOperacionesSoap">
      <soap:address location="http://certificado.azurewebsites.net/Servicios/WSOperaciones.asmx" />
    </wsdl:port>
    <wsdl:port name="WSOperacionesSoap12" binding="tns:WSOperacionesSoap12">
      <soap12:address location="http://certificado.azurewebsites.net/Servicios/WSOperaciones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>